
<p>
Hi <%= @recipient_name %>,
</p>

The Superior Essays Bot has created and published the content below.

<% @content.each do |c| %>
    <p>Created : <a href="<%=content_edit_url%>?key=<%= c.key %>"><%= c.title %></a> </p>
    <p>Source : <%= c.decode_source %></p>
    <hr/>
<% end %>

<p>
Bot running at <b><%= @host_name %></b>
</p>