
<p>
Hi <%= @recipient_name %>,
</p>
<p>

The Bot has created and published the content below.

<% @content.all.each do |c| %>
    <p>Created <a href="<%=archives_show_url%>/<%= c.slug %>"><%= c.title %></a> : <a href="<%=content_edit_url%>?key=<%= c.key %>">Edit</a> </p>
    <p>Source : <%= c.decode_source %></p>
<% end %>

<p>
Bot running at <b><%= @host_name %></b>
</p>