<div>
    <h2 class="font-weight-semibold">Topic: <%= @order.topic %></h2>
    <h2 class="font-weight-semibold">Subject:
        <%= @order.subject.name %>
    </h2>
    <h2 class="font-weight-semibold">Order Code: <%= @order.code %></h2>
    <ul class="list list-unstyled mb-0">
        <li>Order Type: <%= @order.order_type.name %></li>
        <li>Paper Format: <%= @order.paper_format.name %></li>
        <li>Quality: <%= @order.order_quality.quality %></li>
        <li>Spacing: <%= @order.spacing_text %></li>
        <li>English Type: <%= @order.english_type.name %></li>
        <li>Academic Level: <%= @order.academic_level.name %></li>
        <li>Pages: <%= @order.pages %></li>
        <li>Number of Sources: <%= @order.sources_count %></li>
        <li>Urgency: <span class="font-weight-semibold"><%= @order.order_urgency.display %></span></li>
    </ul>
</div>