<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto"><a href="/">Superior Essays <span>Pro</span></a></h1>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/#pricing">Pricing</a></li>
        <li class="active"><a href="/archives">Archives</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<section></section>

<main id="main">


<section id="archive" class="archive">
  <div class="container">

    <% @contents.each do |content|%>
        <div class="card">
            <div class="card-header header-elements-inline">
                <h3 class="card-title">
                    <%=  content.title %>
                </h3>
            </div>
            <div class="card-body">
                <%= simple_format content.question.html_safe.truncate_words(300, omission: '... (more)') %>
            </div>
            <div class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0">
                <ul class="list-inline list-inline-condensed mb-sm-0">
                    <li class="list-inline-item">
                        <span class="opacity-50"><%= local_time(content.updated_at, '%B %e, %Y')%></span>
                    </li>
                </ul>
                <%= link_to content_path(content), method: :get do %>
                        <span class="btn btn-primary btn-labeled btn-labeled-left btn-lg">View</span>
                    <% end %>
            </div>
        </div><br/>
    <% end %>
    
    <%= will_paginate @contents %>
  </div>
</section>