<div class="row">
  <div class="col-md-12">
    <div class="card card-body text-center">
      <h6 class="font-weight-semibold mb-0 mt-1">Current Orders</h6>
      <div id="chart-orders"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card card-body text-center">
      <h6 class="font-weight-semibold mb-0 mt-1">Last 10 days</h6>
      <div id="chart-orders-trend"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-xl-3">

    <div class="card card-body text-center">
      <h6 class="font-weight-semibold mb-0 mt-1">Users</h6>
      <div class="font-size-sm text-muted mb-3">April 21st, 2017</div>

      <div class="svg-center" id="donut_basic_details"><svg width="146" height="146"><g transform="translate(73,73)"><g class="d3-arc d3-slice-border" style="cursor: pointer;"><path d="M4.347496136973104e-15,71A71,71 0 0,1 -68.01725537439971,-20.363029522487416L-50.383152129184964,-15.0837255722129A52.59259259259259,52.59259259259259 0 0,0 3.2203675088689655e-15,52.59259259259259Z" style="fill: rgb(41, 182, 246);"></path></g><g class="d3-arc d3-slice-border" style="cursor: pointer;"><path d="M-68.01725537439971,-20.363029522487416A71,71 0 0,1 68.0172553743997,-20.36302952248744L50.38315212918496,-15.083725572212916A52.59259259259259,52.59259259259259 0 0,0 -50.383152129184964,-15.0837255722129Z" style="fill: rgb(102, 187, 106);"></path></g><g class="d3-arc d3-slice-border" style="cursor: pointer;"><path d="M68.0172553743997,-20.36302952248744A71,71 0 0,1 2.173748068486552e-14,71L1.6101837544344828e-14,52.59259259259259A52.59259259259259,52.59259259259259 0 0,0 50.38315212918496,-15.083725572212916Z" style="fill: rgb(239, 83, 80);" transform="translate(0,0)"></path></g><text class="half-donut-total d3-text opacity-50" text-anchor="middle" dy="-13">Total</text><text class="half-donut-count d3-text" text-anchor="middle" dy="14" style="font-size: 21px; font-weight: 500;">2,430</text></g></svg><ul class="chart-widget-legend"><li data-slice="0" style="border-bottom: 2px solid rgb(41, 182, 246); opacity: 1; transition: all 0.15s ease-in-out 0s;">Admins: <span>720</span></li><li data-slice="1" style="border-bottom: 2px solid rgb(102, 187, 106); opacity: 1; transition: all 0.15s ease-in-out 0s;">Writers: <span>990</span></li><li data-slice="2" style="border-bottom: 2px solid rgb(239, 83, 80); opacity: 1; transition: all 0.15s ease-in-out 0s;">Clients: <span>720</span></li></ul></div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card card-body text-center">
      <h6 class="font-weight-semibold mb-0 mt-1">Overdue Orders</h6>
      <div class="font-size-sm text-muted mb-3">37% of in progress</div>
      <h3 class="font-weight-semibold mb-0">10</h3>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <h3 class="font-weight-semibold mb-0">$18,390</h3>
          <div class="list-icons ml-auto">
                    <a class="list-icons-item" data-action="reload"></a>
                  </div>
                </div>

                <div>
          Today's revenue
          <div class="text-muted font-size-sm">$37,578 avg</div>
        </div>
      </div>

      <div id="chart_area_basic"><svg width="381.75" height="50"><g transform="translate(0,0)"></g></svg></div>
    </div>
    <div class="card card-body text-center">
      <h6 class="font-weight-semibold mb-0 mt-1">User Logins</h6>
      <div class="font-size-sm text-muted mb-3">### daily avg</div>

      <div id="chart_bar_basic"><svg width="239" height="50"><g width="239"><rect class="d3-random-bars" width="6.308641975308641" x="2.7037037037037033" height="32.5" y="17.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="11.716049382716047" height="25" y="25" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="20.728395061728392" height="42.5" y="7.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="29.740740740740737" height="42.5" y="7.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="38.75308641975308" height="35" y="15" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="47.76543209876542" height="37.5" y="12.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="56.77777777777777" height="37.5" y="12.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="65.79012345679013" height="27.500000000000004" y="22.499999999999996" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="74.80246913580247" height="27.500000000000004" y="22.499999999999996" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="83.81481481481481" height="32.5" y="17.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="92.82716049382715" height="32.5" y="17.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="101.8395061728395" height="42.5" y="7.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="110.85185185185185" height="37.5" y="12.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="119.86419753086419" height="37.5" y="12.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="128.87654320987653" height="27.500000000000004" y="22.499999999999996" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="137.88888888888886" height="32.5" y="17.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="146.9012345679012" height="45" y="5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="155.91358024691357" height="47.5" y="2.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="164.9259259259259" height="45" y="5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="173.93827160493825" height="27.500000000000004" y="22.499999999999996" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="182.95061728395058" height="25" y="25" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="191.96296296296293" height="37.5" y="12.5" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="200.9753086419753" height="50" y="0" style="fill: rgb(239, 83, 80);"></rect><rect class="d3-random-bars" width="6.308641975308641" x="209.98765432098762" height="35" y="15" style="fill: rgb(239, 83, 80);"></rect></g></svg></div>
    </div>
    <div class="card card-body text-center">
      <h6 class="font-weight-semibold mb-0 mt-1">Orders Daily</h6>
      <div class="font-size-sm text-muted mb-3">### avg</div>

      <div id="line_chart_simple"><svg width="239" height="50"><g transform="translate(0,0)" width="239"><defs><clipPath id="clip-line-small"><rect class="clip" width="239" height="50"></rect></clipPath></defs><path d="M20,8.46153846153846L53.16666666666667,25.76923076923077L86.33333333333334,5L119.5,15.384615384615383L152.66666666666666,5L185.83333333333334,36.15384615384615L219,8.46153846153846" clip-path="url(#clip-line-small)" class="d3-line d3-line-medium" style="stroke: rgb(33, 150, 243);"></path><g><line class="d3-line-guides" x1="20" y1="50" x2="20" y2="8.46153846153846" style="stroke: rgba(33, 150, 243, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="53.16666666666667" y1="50" x2="53.16666666666667" y2="25.76923076923077" style="stroke: rgba(33, 150, 243, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="86.33333333333334" y1="50" x2="86.33333333333334" y2="5" style="stroke: rgba(33, 150, 243, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="119.5" y1="50" x2="119.5" y2="15.384615384615383" style="stroke: rgba(33, 150, 243, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="152.66666666666666" y1="50" x2="152.66666666666666" y2="5" style="stroke: rgba(33, 150, 243, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="185.83333333333334" y1="50" x2="185.83333333333334" y2="36.15384615384615" style="stroke: rgba(33, 150, 243, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="219" y1="50" x2="219" y2="8.46153846153846" style="stroke: rgba(33, 150, 243, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line></g><g><circle class="d3-line-circle d3-line-circle-medium" cx="20" cy="8.46153846153846" r="3" style="stroke: rgb(33, 150, 243); fill: rgb(33, 150, 243); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="53.16666666666667" cy="25.76923076923077" r="3" style="stroke: rgb(33, 150, 243); fill: rgb(33, 150, 243); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="86.33333333333334" cy="5" r="3" style="stroke: rgb(33, 150, 243); fill: rgb(33, 150, 243); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="119.5" cy="15.384615384615383" r="3" style="stroke: rgb(33, 150, 243); fill: rgb(33, 150, 243); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="152.66666666666666" cy="5" r="3" style="stroke: rgb(33, 150, 243); fill: rgb(33, 150, 243); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="185.83333333333334" cy="36.15384615384615" r="3" style="stroke: rgb(33, 150, 243); fill: rgb(33, 150, 243); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="219" cy="8.46153846153846" r="3" style="stroke: rgb(33, 150, 243); fill: rgb(33, 150, 243); opacity: 1;"></circle></g></g></svg></div>
    </div>
  </div>

  <div class="col-sm-12 col-xl-6">
    <div class="card">
      <div class="card-header bg-transparent header-elements-inline">
        <h6 class="card-title font-weight-semibold">
          <i class="icon-cart2 mr-2"></i>
          Upcoming Orders
        </h6>

        <div class="header-elements">
          <span class="text-muted">(Top 10)</span>
        </div>
      </div>

      <div class="list-group list-group-flush">
        <% @upcoming_orders.each do |order|%>
          <a href="<%= "/orders/show?key=#{order.key}" %>" class="list-group-item list-group-item-action">
          <div>
            <i class="icon-file-text2 mr-3"></i>
            <%= order.topic %>
            </div><br/>
            <div class="ml-auto">
              <span class="badge bg-success-400 ml-auto">Due date: <%= local_time(order.due_date) %></span>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script>
    function orderStatusChart(){
      let chart = am4core.create("chart-orders", am4charts.PieChart);

      chart.data = [{
          "status": "To Do",
          "value": <%= @todo_orders_count %>
      }, {
          "status": "In Progress",
          "value": <%= @in_progress_orders_count %>
      }, {
          "status": "Complete",
          "value": <%= @complete_orders_count %>
      }];

      chart.innerRadius = am4core.percent(50);
      chart.startAngle = 180;
      chart.endAngle = 360;
      chart.radius = am4core.percent(70);
      

      let series = chart.series.push(new am4charts.PieSeries());
      series.dataFields.value = "value";
      series.dataFields.category = "status";

      series.colors.list = [
              am4core.color("#03adfc"),
              am4core.color("#fc0303"),
              am4core.color("#24fc03")
            ];

      series.slices.template.cornerRadius = 10;
      series.slices.template.innerCornerRadius = 7;

     
      let fillModifier = new am4core.RadialGradientModifier();
      fillModifier.brightnesses.push(-0.2, -0.2, 0, -0.3);
      series.slices.template.fillModifier = fillModifier;

      // this creates initial animation
      series.hiddenState.properties.opacity = 1;
      series.hiddenState.properties.endAngle = -90;
      series.hiddenState.properties.startAngle = -90;


      chart.legend = new am4charts.Legend();
    }



    function allOrderTrendsChart(){
      var chart = am4core.create("chart-orders-trend", am4charts.XYChart);
      chart.paddingRight = 20;
      chart.colors.list = [
        am4core.color("#fc0303"),
        am4core.color("#03adfc"),
        am4core.color("#24fc03"),
        am4core.color("#fcc603")
      ];

      //Generate data
      let chartData = []

      <% @all_order_data.each do |data| %>
        chartData.push({
          date: new Date("<%= data["date"]%>"),
          created: <%= data["created"]%>,
          paid: <%= data["paid"]%>,
          completed: <%= data["completed"]%>,
          closed: <%= data["closed"]%>
        });
      <% end %>

      chart.data = chartData;

      // Create axes
      var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
      dateAxis.renderer.minGridDistance = 50;

      chart = createAxisAndSeries(chart, "created", "Created", false);
      chart = createAxisAndSeries(chart, "paid", "Paid", true);
      chart = createAxisAndSeries(chart, "completed", "Completed", true);
      chart = createAxisAndSeries(chart, "closed", "Closed", true);

      // Add legend
      chart.legend = new am4charts.Legend();

      // Add cursor
      chart.cursor = new am4charts.XYCursor();
    }

    function createAxisAndSeries(chart, field, name, opposite) {
      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

      if(chart.yAxes.indexOf(valueAxis) != 0){
        valueAxis.syncWithAxis = chart.yAxes.getIndex(0);
      }
      
      var series = chart.series.push(new am4charts.LineSeries());
      series.dataFields.valueY = field;
      series.dataFields.dateX = "date";
      series.strokeWidth = 3;
      series.yAxis = valueAxis;
      series.name = name;
      series.tooltipText = "{name}: [bold]{valueY}[/]";
      series.tensionX = 0.8;
      series.showOnInit = true;
      
      var interfaceColors = new am4core.InterfaceColorSet();
      
      var bullet = series.bullets.push(new am4charts.CircleBullet());
      bullet.circle.strokeWidth = 2;
      bullet.circle.radius = 4;
      bullet.circle.fill = am4core.color("#fff");

      let bullethover = bullet.states.create("hover");
      bullethover.properties.scale = 1.3;
      
      valueAxis.renderer.line.strokeOpacity = 1;
      valueAxis.renderer.line.strokeWidth = 2;
      valueAxis.renderer.line.stroke = series.stroke;
      valueAxis.renderer.labels.template.fill = series.stroke;
      valueAxis.renderer.opposite = opposite;
      return chart;
    }

    $(document).ready(function () {
     orderStatusChart();
     allOrderTrendsChart()
    });
</script>