

<legend class="text-uppercase font-size-sm font-weight-bold">Files</legend>

<div class="row mb-3">
  <div class="col-lg-6">
    <% if @order.client_resources.count > 0%>
      <div class="list-feed mb-3">
        <div class="list-feed-item">
          <b>Client Uploads</b>
        </div>
        <% @order.client_resources.each do |resource| %>
            <div class="list-feed-item">
              <%= link_to orders_download_resource_path(key: resource.key), method: :get, :class => "btn btn-outline-success btn-sm" do %>
                <span class="text-white-400"><i class="icon-file-download mr-1"></i>Download</span>
              <% end %>
              <%= resource.name %>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-6">
    <% if @order.business_resources.count > 0%>
      <div class="list-feed mb-3">
        <div class="list-feed-item">
          <b>Admin Uploads</b>
        </div>
        <% @order.business_resources.each do |resource| %>
              <div class="list-feed-item">
                <div class="row">
                  <div class="col-lg-3">
                    <%= link_to orders_download_resource_path(key: resource.key), method: :get, :class => "btn btn-outline-success btn-sm" do %>
                      <span class="text-white-400"><i class="icon-file-download mr-1"></i>Download</span>
                    <% end %>
                  </div>
                  <div class="col-lg-9">
                    <%= form_for resource, :url => url_for(:controller => 'orders', :action => 'delete_resource' ) do |form| %>
                      <%= form.hidden_field :key, value: resource.key %>
                      <%= button_tag(:class => "btn btn-outline-danger btn-sm") do %>
                      <span class="text-white-400"><i class="icon-trash mr-1"></i>Delete</span>
                      <% end %>
                      <%= resource.name %>
                    <%end%>
                  </div>
                </div>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




<legend class="text-uppercase font-size-sm font-weight-bold">Actions</legend>
<div class="row mb-3">
  <div class="col-lg-6">
    <%= form_for @resource, :url => url_for(:controller => 'orders', :action => 'upload_resource' ) do |form| %>
      <%= form.hidden_field :order_id, value: @order.id %>
      <%= form.hidden_field :resource_type_id, value: ResourceType.business.id %>
      <div class="row">
        <div class="col-lg-9">
          <%= form.file_field :file, class: "form-control", :required=>true %>
        </div>
        <div class="col-lg-3">
          <%= button_tag(:class => "btn bg-success") do %>
          Upload file
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-6">
    <%= form_for @order, :url => url_for(:controller => 'orders', :action => 'update_status' ) do |form| %>
      <%= form.hidden_field :key, value: @order.key %>
      <% if @order.paid? && @order.order_status.id == 1 %>
        <%= form.hidden_field :order_status_id, value: 2 %>
        <div class="row">
          <div class="col-lg-12">
            <%= button_tag(:class => "btn bg-success") do %>
            Move Order to "In Progress"
            <% end %>
          </div>
        </div>
      <% elsif @order.paid? && @order.order_status.id == 2%>
        <%= form.hidden_field :order_status_id, value: 3 %>
        <div class="row">
          <div class="col-lg-12">
            <%= button_tag(:class => "btn bg-success") do %>
            Move Order to "Complete"
            <% end %>
          </div>
        </div>
      <% elsif @order.paid? && @order.order_status.id == 3%>
        <%= form.hidden_field :order_status_id, value: 2 %>
        <div class="row">
          <div class="col-lg-12">
            <%= button_tag(:class => "btn bg-success") do %>
            Move Order back to "In Progress"
            <% end %>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
