

<legend class="text-uppercase font-size-sm font-weight-bold">Files</legend>

<div class="row mb-3">
  <div class="col-lg-6">
    <% if @order.client_resources.count > 0%>
      <div class="list-feed mb-3">
        <div class="list-feed-item">
          <b>My files</b>
        </div>
        <% @order.client_resources.each do |resource| %>
            <div class="list-feed-item">
              <%= resource.name %>
              <%= form_for resource,:html => {:class => 'signup-form'}, :url => url_for(:controller => 'orders', :action => 'delete_resource' ) do |form| %>
                <%= form.hidden_field :key, value: resource.key %>
                <%= button_tag(:class => "btn btn-outline-danger btn-sm") do %>
                <span class="text-white-400"><i class="icon-trash mr-1"></i>Delete</span>
                <% end %>
              <%end%>
            </div>
        <% end %>
      </div>
    <% end %>

    <%= form_for @resource,:html => {:class => 'signup-form'}, :url => url_for(:controller => 'orders', :action => 'upload_resource' ) do |form| %>
      <div class="row mb-3">
        <div class="col-lg-12">
          <%= form.text_field :name, placeholder: "File Summary", class: "form-control" , :required=>true %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-12">
          <%= form.file_field :file, class: "form-control h-auto", :required=>true %>
        </div>
      </div>
      <%= form.hidden_field :order_id, value: @order.id %>
      <%= form.hidden_field :resource_type_id, value: ResourceType.client.id %>
      <%= button_tag(:class => "btn bg-success") do %>
      Upload file
      <% end %>
    <%end%>
  </div>
  <div class="col-lg-6">
    <% if @order.business_resources.count > 0%>
      <div class="list-feed mb-3">
        <div class="list-feed-item">
          <b>Finished files</b>
        </div>
        <% @order.business_resources.each do |resource| %>
            <div class="list-feed-item">
              <%= link_to orders_download_resource_path(key: resource.key), method: :get, :class => "btn btn-outline-success btn-sm" do %>
                <span class="text-white-400"><i class="icon-file-download mr-1"></i>Download</span>
              <% end %>
              <%= resource.name %>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
  <span>
    <span class="badge badge-mark border-danger mr-2"></span>
    Due:
    <span class="font-weight-semibold">2015/02/25</span>
  </span>

  <div id="paypal-button-container"></div>
</div>

<% if !@order.paid? %>
<script src="https://www.paypal.com/sdk/js?client-id=<%=@client_id%>"></script>
<script>
paypal.Buttons({
  env: '<%= @env %>', // Valid values are sandbox and live.
  //env: 'live', // Valid values are sandbox and live.
  createOrder: async () => {
      const config = {
          method: 'POST',
          headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({key: '<%= @order.key %>'})
      }
      const response = await fetch('/orders/pay', config);
      const responseData = await response.json();
      return responseData.token;
  },
  onApprove: async (data) => {
    const response = await fetch('/orders/capture_order', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({token: data.orderID})
    });
    const responseData = await response.json();
    if (responseData.status === 'COMPLETED') {
      alert('Payment success!');
      location.reload();
    }
  }
}).render('#paypal-button-container');
</script>
<% end %>
