<%= form_for @message, :url => url_for(:controller => 'messages', :action => 'create' ) do |form| %>
  <%= form.hidden_field :order_id, value: @order.id %>
  <%= form.hidden_field :category, value: MESSAGE_TYPE_USER_MESSAGE %>
  <div class="row">
    <div class="col-lg-9 col-md-8">
      <%= form.text_field :message, class: "form-control", :required=>true, :placeholder=>"Post a message" %>
    </div>
    <div class="col-lg-3 col-md-4">
      <%= button_tag(:class => "btn bg-success") do %>
      Post
      <% end %>
    </div>
  </div>
<% end %>

<ul class="media-list media-chat mb-3 mt-3">
  <% @order.messages.each do |message| %>
    <% if message.user_id == @current_user.id %>
      <li class="media media-chat-item-reverse">
    		<div class="media-body">
    			<div class="media-chat-item"><%= message.message %></div>
    			<div class="font-size-sm text-muted mt-2"><%= local_time(message.created_at) %></div>
    		</div>

    		<div class="ml-3">
          <% if message.user.admin?%>
            <%= image_tag('avatar_support.jpg', size: "40x40", alt: "Avatar", class: "rounded-circle") %>
          <% else %>
            <%= image_tag('avatar.png', size: "40x40", alt: "Avatar", class: "rounded-circle") %>
          <% end %>
    		</div>
    	</li>
    <% else %>
      <li class="media">
    		<div class="mr-3">
          <% if message.user.admin?%>
            <%= image_tag('avatar_support.jpg', size: "40x40", alt: "Avatar", class: "rounded-circle") %>
          <% else %>
            <%= image_tag('avatar.png', size: "40x40", alt: "Avatar", class: "rounded-circle") %>
          <% end %>
    		</div>

    		<div class="media-body">
    			<div class="media-chat-item"><%= message.message %></div>
    			<div class="font-size-sm text-muted mt-2"><%= local_time(message.created_at) %></div>
    		</div>
    	</li>
      <% message.mark_as_read_for_user(@current_user) %>
    <% end %>
  <% end %>
</ul>
