<ul class="navbar-nav">
<li class="nav-item dropdown <%= "#{'active' if @order_status && (@order_status.id == 1 || @order_status.id == 2 || @order_status.id == 3)}" %>">
    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
      <i class="icon-cart2 mr-2"></i>
      Orders
    </a>
    <div class="dropdown-menu">
      <%= link_to client_orders_todo_path, method: :get, :class => "dropdown-item #{'active' if @order_status && @order_status.id == 1}" do %>
        <i class="icon-list mr-2"></i>
        Todo
      <% end %>
      <%= link_to client_orders_in_progress_path, method: :get, :class => "dropdown-item #{'active' if @order_status && @order_status.id == 2}" do %>
        <i class="icon-play4 mr-2"></i>
        In Progress
      <% end %>
      <%= link_to client_orders_complete_path, method: :get, :class => "dropdown-item #{'active' if @order_status && @order_status.id == 3}" do %>
        <i class="icon-checkmark mr-2"></i>
        Completed
      <% end %>
      <%= link_to client_orders_closed_path, method: :get, :class => "dropdown-item #{'active' if @order_status && @order_status.id == 4}" do %>
        <i class="icon-lock5 mr-2"></i>
        Closed
      <% end %>
    </div>
  </li>
    <li class="nav-item">
        <%= link_to '/pricing', method: :get, :class => "navbar-nav-link font-weight-semibold #{'active' if request.path == '/pricing'}" do %>
            <span class="text-white-400"><i class="icon-list-unordered mr-1"></i> Pricing</span>
        <% end %>
    </li>
</ul>
