<%= form_for @order,:html => {:class => 'signup-form'}, :url => url_for(:controller => 'orders', :action => 'create', ) do |form| %>
    <div class="card mb-0">
        <div class="card-body">
            <div class="text-center mb-3">
                <h1 class="mb-0">Create your order</h1>
            </div>

            <%= render 'general/error_messages', object: form.object %>

            <div class="form-group text-center text-muted content-divider">
                <span class="px-2">Order Details</span>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subject:</label>
                <div class="col-lg-7">
                    <%= form.collection_select :subject_id, Subject.all, :id, :name, {prompt: "Select Subject"}, class: "form-control"  , :required=>true%>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Order Type:</label>
                <div class="col-lg-7">
                    <%= form.collection_select :order_type_id, OrderType.order('name ASC').all, :id, :name, {prompt: "Select Order Type" }, class: "form-control"  , :required=>true%>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paper Format:</label>
                <div class="col-lg-7">
                    <%= form.collection_select :paper_format_id, PaperFormat.all, :id, :name, {prompt: "Select Format" }, class: "form-control"  , :required=>true%>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;English Type:</label>
                <div class="col-lg-7">
                    <%= form.collection_select :english_type_id, EnglishType.all, :id, :name, {prompt: "Select English" , :selected =>1}, class: "form-control"  , :required=>true%>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Academic Level:</label>
                <div class="col-lg-7">
                    <%= form.collection_select :academic_level_id, AcademicLevel.all, :id, :name, {prompt: "Select Level" , :selected =>1}, class: "form-control"  , :required=>true%>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spacing:</label>
                <div class="col-lg-7">
                    <%= form.select(:spacing, options_for_select([['Single Spaced', 1], ['Double Spaced', 2]]), {:prompt => 'Select Spacing', :selected =>1},{class: "form-control"}) %>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of Sources:</label>
                <div class="col-lg-7">
                    <%= form.number_field :sources_count, placeholder: "Sources", class: "form-control", min: 1  , :required=>true %>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Topic:</label>
                <div class="col-lg-7">
                    <%= form.text_field :topic, placeholder: "Topic", class: "form-control" , :required=>true%>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instructions:</label>
                <div class="col-lg-7">
                    <%= form.text_area :instructions, placeholder: "Instructions", class: "form-control"  , :required=>true, rows: 10 %>
                </div>
            </div>
            <div class="form-group text-center text-muted content-divider">
                <span class="px-2"></span>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Order Quality:</label>
                <div class="col-lg-7">
                    <%= form.collection_select :order_quality_id, OrderQuality.all, :id, :quality, {prompt: "Select Quality" , :selected =>1}, class: "form-control"  , :required=>true%>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Order Deadline:</label>
                <div class="col-lg-7">
                    <%= form.collection_select :order_urgency_id, OrderUrgency.all, :id, :display, {prompt: "Select Deadline" , :selected =>1}, class: "form-control"  , :required=>true%>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-form-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pages:</label>
                <div class="col-lg-7">
                    <%= form.number_field :pages, placeholder: "Pages", class: "form-control", min: 1  , :required=>true%>
                </div>
            </div>
            <div class="form-group row alert alert-success">
                <h1 class="col-lg-5 col-form-label text-left mb-0 font-weight-black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Price:</h1>
                <div class="col-lg-7">
                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <%= text_field_tag :total_price,0, placeholder: "Topic", class: "form-control font-weight-black" , :readonly => true %>
                        <div class="form-control-feedback">
                            <i class="icon-coin-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <%= button_tag(:class => "btn bg-info btn-block") do %>
            Create Order
            <% end %>
        </div>
    </div>
<%end%>

<script>
    function calculate(){
        var level = parseInt($("#order_academic_level_id").val());
        var spacing = parseInt($("#order_spacing").val());
        var quality = parseInt($("#order_order_quality_id").val());
        var basePrice = 0;
        if(quality == 1){//standard
            basePrice = <%= SEConstants::OrderBasePrice::STANDARD %>;
        }else if(quality == 2){//premium
            basePrice = <%= SEConstants::OrderBasePrice::PREMIUM %>;
        }else if(quality == 3){//platinum
            basePrice = <%= SEConstants::OrderBasePrice::PLATINUM %>;
        }

        if (level == 2){ //masters
          basePrice = basePrice + <%= SEConstants::AcademicLevelDelta::MASTERS %>;
        }else if (level == 3){ //college
          basePrice = basePrice + <%= SEConstants::AcademicLevelDelta::COLLEGE %>;
        }else if (level == 4){ //university
          basePrice = basePrice + <%= SEConstants::AcademicLevelDelta::UNIVERSITY %>;
        }else if (level == 5){ //phd
          basePrice = basePrice + <%= SEConstants::AcademicLevelDelta::PHD %>;
        }

        var pages = parseInt($("#order_pages").val());

        var totalPrice = (basePrice+parseInt($("#order_order_urgency_id").val())-1)*pages;

        if(isNaN(totalPrice)){
            totalPrice = 0;
        }

        if(spacing == 1){
            totalPrice = totalPrice*2;
        }

        $("#total_price").prop('readonly', false);
        $("#total_price").val(totalPrice);
        $("#total_price").prop('readonly', true);
    }

    $(document).ready(function () {
        $("body").on('change','#order_academic_level_id', function() {
            calculate();
        });
        $("body").on('change','#order_order_urgency_id', function() {
            calculate();
        });
        $("body").on('change','#order_pages', function() {
            calculate();
        });
        $("body").on('change','#order_order_quality_id', function() {
            calculate();
        });
        $("body").on('change','#order_spacing', function() {
            calculate();
        });
    });
</script>
