  <div class="content d-flex justify-content-center align-items-center">
    <%= form_for @order,:html => {:class => 'signup-form'}, :url => url_for(:controller => 'orders', :action => 'create', ) do |form| %>
      <div class="card mb-0">
        <div class="card-body">
          <div class="text-center mb-3">
            <%= image_tag('logo_large.png', width: "200", alt: "Superior Essays") %>
            <h5 class="mb-0">Create your order</h5>
          </div>

          <%= render 'general/error_messages', object: form.object %>

          <div class="form-group text-center text-muted content-divider">
            <span class="px-2">Order Details</span>
          </div>
          <div class="form-group row">
            <label class="col-lg-5 col-form-label text-left"><%= fa_icon "building"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Order Type:</label>
            <div class="col-lg-7">
              <%= form.collection_select :order_type_id, OrderType.all, :id, :name, {prompt: "Select Order Type" }, class: "form-control"  , :required=>true%>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-5 col-form-label text-left"><%= fa_icon "building"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Topic:</label>
            <div class="col-lg-7">
              <%= form.text_field :topic, placeholder: "Topic", class: "form-control"  , :required=>true%>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-5 col-form-label text-left"><%= fa_icon "phone"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instructions:</label>
            <div class="col-lg-7">
              <%= form.text_area :instructions, placeholder: "Instructions", class: "form-control"  , :required=>true%>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-5 col-form-label text-left"><%= fa_icon "building"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Phone:</label>
            <div class="col-lg-7">
              <%= form.text_field :contact_phone, placeholder: "Contact Phone", class: "form-control"  , :required=>false%>
            </div>
          </div>
          <%= button_tag(:class => "btn bg-primary-400 btn-block") do %>
            Create Order <i class="icon-circle-right2 ml-2"></i>
          <% end %>
        </div>
      </div>
  <%end%>
</div>
