
<% if @order.paid? %>
  <% class_vals = "card border-left-3 border-left-success rounded-left-0" %>
<% else %>
  <% class_vals = "card border-left-3 border-left-danger rounded-left-0" %>
<% end %>

<div class="<%= class_vals %>">
  <div class="card-body">
    <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
      <div>
        <h2 class="font-weight-semibold">Topic: <%= @order.topic %></h2>
        <h2 class="font-weight-semibold">Subject:
          <% if @order.subject %>
            <%= @order.subject.name %>
          <% else %>
            No Subject
          <% end %>
        </h2>
        <ul class="list list-unstyled mb-0">
          <li>Order Code: <%= @order.code %></li>
          <li>Order Type: <%= @order.order_type.name %></li>
          <li>Paper Format: <%= @order.paper_format.name %></li>
          <li>Quality: <%= @order.order_quality.quality %></li>
          <li>Spacing: <%= @order.spacing_text %></li>
          <li>English Type: <%= @order.english_type.name %></li>
          <li>Academic Level: <%= @order.academic_level.name %></li>
          <li>Pages: <%= @order.pages %></li>
          <li>Urgency: <span class="font-weight-semibold"><%= @order.order_urgency.display %></span></li>
          <li>Issued On: <span class="font-weight-semibold"><%= @order.created_at %></span></li>
          <li>Paid On: <span class="font-weight-semibold"><%= @order.paid_on %></span></li>
          <% if @order.order_status.name == "Complete" %>
            <li>Completed On: <span class="font-weight-semibold"><%= @order.completed_on%></span></li>
          <% else %>
            <%= render 'orders/shared/due_date'%>
          <% end %>
        </ul>
      </div>
      <div class="text-sm-right mb-0 mt-3 mt-sm-0 ml-auto">
        <h6 class="font-weight-semibold">Price: $<%= @order.price%></h6>
        <ul class="list list-unstyled mb-0">
          <li>Order Status: <span class="font-weight-semibold"><%= @order.order_status.name %></span></li>
          <li>
            Payment Status:
              <% if @order.paid? %>
                <span class="font-weight-semibold badge bg-success badge-pill">Paid</span>
              <% else %>
                <span class="font-weight-semibold badge bg-danger badge-pill">Pending</span>
              <% end %>
          </li>
        </ul>
      </div>
    </div>
    <legend class="text-uppercase font-size-sm font-weight-bold mt-3">Instructions</legend>
    <%= @order.instructions %>
  </div>
  <div class="mr-3 ml-3">
    <% if @current_user.admin? %>
      <%= render 'orders/shared/admin'%>
    <% else %>
      <%= render 'orders/shared/client'%>
    <% end %>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <legend class="text-uppercase font-size-sm font-weight-bold">Messages</legend>
    <div class="row mb-3">
      <div class="col-lg-12">
        <%= render 'orders/shared/messages'%>
      </div>
    </div>
  </div>
</div>
