<!DOCTYPE html>
<html>
<head>
  <title>Superior Essays</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body >
  <div class="row bg-white">
    <div class="col-4">
      <%= image_tag('logo_large.png', size: "500x500", alt: "Superior Essays") %>
    </div>
    <div class="col-4">
      <div class="middle">
        <p class="h1">Superior Essays</p>
        <p>Place an order and get professional help from academic writers.</p>
        <p>Delivering quality work is our priority</p>
      </div>
    </div>
    <div class="col-4">
      <div class="middle">
        <% if @current_user %>
          <%= link_to 'Place Order'.html_safe, '/orders/new', method: :get, :class => "btn btn-primary mr-3" %>
        <% else %>
          <%= link_to 'Place Order'.html_safe, '/auth/google_oauth2', method: :post, :class => "btn btn-primary mr-3" %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
