<!DOCTYPE html>
<html>
<head>
  <title>Superior Essays</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body >
  <div>
    <div class="middle">
      <%= image_tag('logo_large.png', size: "500x500", alt: "Superior Essays") %>
    </div>
  </div>
</body>
</html>
