
<div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
    <div>
        <h1><%= @type_name %></h1>
    </div>

    <div class="text-sm-right mb-0 mt-3 mt-sm-0 ml-auto">
        <div class="mb-3">
            <%= link_to '/content/new', method: :get, :class => "font-weight-semibold mb-3" do %>
                <span class="btn btn-primary btn-labeled btn-labeled-left btn-lg"><b><i class="icon-plus2"></i></b> New Content</span>
            <% end %>
        </div>
    </div>
</div>

<ul class="nav nav-tabs nav-tabs-highlight">
    <li class="nav-item">
        <%= link_to content_admin_path(type: @type, published: true), method: :get, :class => "nav-link #{'active' if @published }" do %>
            <span class="badge badge-success badge-pill mr-2">
            <%= @total_published_content %>
            </span>
            Published
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to content_admin_path(type: @type, published: false), method: :get, :class => "nav-link #{'active' if !@published }" do %>
            <span class="badge badge-danger badge-pill mr-2">
            <%= @total_unpublished_content %>
            </span>
            Unpublished
        <% end %>
    </li>
</ul>

<div class="tab-content">
    <%= render 'content_list'%>
</div>