<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="<%= yield(:description) %>">
    <meta name="author" content="<%= yield(:author) %>">
    <meta name="keywords" content="<%= yield(:keywords) %>">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Superior Essays Pro | <%= yield(:title) %></title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="layout-boxed-bg navbar-top">

  	<!-- Boxed layout wrapper -->
  	<div class="d-flex flex-column flex-1 layout-boxed">

  		<!-- Main navbar -->
  		<div class="navbar navbar-expand-md navbar-dark fixed-top">
  			<div class="navbar-brand">
  				<a href="/" class="d-inline-block">
            <%= image_tag('logo_small.png', size: "50x50", alt: "Superior Essays") %>
  				</a>
  			</div>
        <div class="d-md-none">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
          </button>
        </div>
  			<div class="collapse navbar-collapse" id="navbar-mobile">

          <div class="ml-md-3 mr-md-auto">

          </div>

  				<ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "/", method: :get, :class => "navbar-nav-link font-weight-semibold" do %>
                <span class="text-white-400"><i class="icon-home5 mr-2"></i> Home</span>
              <% end %>
            </li>
            <li class="nav-item">
              <% if @current_user %>
                <%= link_to '/orders/new', method: :get, :class => "navbar-nav-link font-weight-semibold #{'active' if request.path == '/orders/new'}" do %>
                  <span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Place Order</span>
                <% end %>
              <% else %>
                <%= link_to '/auth/google_oauth2', method: :post, :class => "navbar-nav-link font-weight-semibold" do %>
                  <span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Sign In</span>
                <% end %>
              <% end %>
  					</li>
            <% if @current_user %>
              <li class="nav-item">
                <%= link_to messages_unread_path, method: :get, :class => "navbar-nav-link font-weight-semibold #{'active' if request.path == '/messages/unread'}" do %>
                  <span><i class="icon-comment-discussion mr-2"></i> Messages</span>
                  <span class="badge badge-pill bg-blue ml-auto"><%= Message.unread_for_user(@current_user).count %></span>
                <% end %>
              </li>
              <li class="nav-item dropdown dropdown-user">
                <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                  <span>
                    <%= @current_user.email %>
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to logout_path, class: "dropdown-item" do %>
                    <i class="icon-switch2"></i>Logout
                  <% end %>
                </div>
              </li>
            <% end %>
  				</ul>
  			</div>
  		</div>
  		<!-- /main navbar -->
      <% if @current_user %>
            <div class="navbar navbar-expand-md navbar-light mt-1">
              <div class="text-center d-md-none w-100">
                <button type="button" class="navbar-toggler dropdown-toggle collapsed" data-toggle="collapse" data-target="#navbar-navigation" aria-expanded="false">
                  <i class="icon-unfold mr-2"></i>
                  Navigation
                </button>
              </div>
              <div class="navbar-collapse collapse" id="navbar-navigation">
                    <% if @current_user.admin? %>
                      <%= render 'general/admin_nav'%>
                    <% else %>
                      <%= render 'general/client_nav'%>
                    <% end %>
              </div>
            </div>
      <% end %>
            
  		<!-- Page content -->
      
  		<div class="page-content">
        
  			<!-- Main content -->
  			<div class="content-wrapper">

  				<!-- Page header here -->
          
          <!-- /Page header here -->

  				<!-- Content area -->
  				<div class="content">
            <%= render 'general/user_voucher'%>
            <% flash.each do |key, value| %>
              <% if value.is_a?(String) %>
                <div class="text-center alert alert-<%= key %> ">
                  <%= content_tag :div, simple_format(value), :id => "flash_#{key}" %>
                </div>
              <% end %>
            <% end %>
            <%= yield %>
  				</div>
  				<!-- /content area -->

  				<!-- Footer -->
  				<div class="navbar navbar-expand-lg navbar-light">
  					<div class="navbar-collapse collapse" id="navbar-footer">
  						<span class="navbar-text">
  							Delivering quality work is our priority
  						</span>
  					</div>
  				</div>
  				<!-- /footer -->

  			</div>
  			<!-- /main content -->

  		</div>
  		<!-- /page content -->

  	</div>
  	<!-- /Boxed layout wrapper -->

    <% if !@current_user or (@current_user and !@current_user.admin?) %>
      <!--Start of Tawk.to Script-->
      <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/60a10924185beb22b30dabbb/1f5qgnf31';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
      </script>
      <!--End of Tawk.to Script-->
    <% end %>
  </body>
</html>
