<!DOCTYPE html>
<html>
  <head>
    <title>Superior Essays</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <!-- Main content -->
  <div class="content-wrapper">
    <div class="content">
      <% if @current_user %>
        <%= render 'general/top_bar' %>
      <% end %>
      <% flash.each do |key, value| %>
        <% if value.is_a?(String) %>
          <div class="text-center alert alert-<%= key %> ">
            <%= content_tag :div, simple_format(value), :id => "flash_#{key}" %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
