<!DOCTYPE html>
<html>
  <head>
    <title>Superior Essays</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <% if !@current_user or (@current_user and !@current_user.admin?) %>
      <script>(function(){var pp=document.createElement('script'), ppr=document.getElementsByTagName('script')[0]; stid='cFU2U21MQnd5eUloUno5RDZXQjE2QT09';pp.type='text/javascript'; pp.async=true; pp.src=('https:' == document.location.protocol ? 'https://' : 'http://') + 's01.live2support.com/dashboardv2/chatwindow/'; ppr.parentNode.insertBefore(pp, ppr);})();</script>
    <% end %>
  </head>

  <body>
    <!-- Main content -->
  <div class="content-wrapper">
    <div class="content">
      <% if @current_user %>
        <%= render 'general/top_bar' %>
      <% end %>
      <% flash.each do |key, value| %>
        <% if value.is_a?(String) %>
          <div class="text-center alert alert-<%= key %> ">
            <%= content_tag :div, simple_format(value), :id => "flash_#{key}" %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
